/* ------- RESET -------*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*,*:after,*:before {
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.clear:before,.clear:after {
    content:' ';display:table;
}
.clear:after {
    clear:both;
}
.clear {*zoom:1;}
a{text-decoration:none;}

/* --------------------------------- */
/* ------- FIN RESET -------*/
/* --------------------------------- */


/* --------------------------------- */
/* ------- FONT -------*/
/* --------------------------------- */
body {
    font-family: 'Roboto', sans-serif;
}


/* --------------------------------- */
/* ------- HEADER -------*/
/* --------------------------------- */
header{
    background-image: url(../img/fond-menu.jpg);
    background-size: 150%;
    background-position: center;
    height:650px;
    background-repeat: no-repeat;
    background-attachment: fixed, scroll;
}
.wrap {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;

}
.wrap2 {
    max-width: 70%;
    width: 100%;
    margin: 0 auto;

}
/* ---------------------------------------------------*/
/* ------- Menu -------*/
/* ---------------------------------------------------*/


.topnav {
    float: left;
    background-color: #04060D;
    overflow: hidden;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    z-index: 3;
}


/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 40px;
    text-decoration: none;
    font-size: 26px;
    margin-top: 15px;
    border-radius: 7px;
}

/* Change the color of links on hover */
.logo2 {
    background-color: #A9A9A9;
}
.topnav a:hover {
    background-color: #A9A9A9;
    color: black;
}
.topnav a.active {
    margin-left: 18%;
}
/*.topnav.logo2.active {
    color: #f2f2f2;
}*/

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
.topnav .logo2{
    margin-top: 0;
}
.logo{
    width: 60px;
}
/* --------------------------------- */
/* ------- FIN MENU -------*/
/* --------------------------------- */

.imageback {
    /* The image used */
    /* Full height */
    height: 100%;
    width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon:hover{
    background-color: papayawhip;
}
.icons{
    width: 133px;
    height: 133px;
    margin-top: 215px;
    margin-left: 11%;
    margin-right: 11%;
    float: left;
    background-color: darkgray;
    padding: 15px;
    border-radius: 193px;
}

/* --------------------------------- */
/* ------- FIN HEADER -------*/
/* --------------------------------- */

/* --------------------------------- */
/* ------- BODY -------*/
/* --------------------------------- */

h2.prenom{
    font-size: 3.8em;
    padding: 20px 0;
    border-bottom: solid 1px;
    color: #dddddd;
}
h3.job{
    font-size: 2em;
    padding: 15px;
    color: #dddddd;
}
.bloc{
    width: 100%;
    padding: 5% 0;
    background-color: white;
}
.portrait{
    width:100%;
}
.lang{
    text-align: left;
    padding-left: 2%;
}
.material-icons{
    width: 100%;
    padding: 5px 10px;
    color: #0f2439;
}
h3{
    text-align: right;
    font-size: 4vw;
}
/* --------------------------------- */
/* ------- HEZAGONE -------*/
/* --------------------------------- */

.hexagonemainbefore img:hover{
    opacity: 0.6;
}
.hexagone {
    position: relative;
    /* Pour rendre responsive mettre width à 100% */;
    width: 20%;
    margin-right: 40%;
    margin-left: 40%;
    visibility: hidden;
    overflow: hidden;
  }
  .hexagone:after,.hexagone2:after {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    content: "";
    display: block;
    margin-top: 28.86751%;
    padding-bottom: 86.602%;
  }
  .hexagone .hexagonemain,.hexagone2 .hexagonemain{
    display: block;
    position: absolute;
    width: 100%;
    padding-bottom: 115.47005%;
    overflow: hidden;
    visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    z-index: 1;
  }
  .hexagone .hexagonemainbefore,.hexagone2 .hexagonemainbefore{
    content: "";
    display: block;
    position: absolute;
    visibility: visible;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #cccccc;
    -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
    transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  }
  .hexagone .hexagonecontent,.hexagone2 .hexagonecontent{
    overflow-y: auto;
    width: 100%;
    display: block;
    visibility: visible;
    bottom: 25%;
    top: 25%;
    left: 0;
    z-index: 3;
  }
  .hexagone img,.hexagone2 img{
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin-left: -40%;
    -webkit-transform: rotate3d(0,0,0,0deg);
    -ms-transform: rotate3d(0,0,0,0deg);
    transform: rotate3d(0,0,0,0deg);
  }
.hexagone2 {
     position: relative;
     /* Pour rendre responsive mettre width à 100% */;
     width: 20%;
     margin-right: 15%;
     margin-left: 15%;
     float: left;
     visibility: hidden;
     overflow: hidden;
 }

/* --------------------------------- */
/* ------- FIN EXAGONE -------*/
/* --------------------------------- */

#ex1,#ex4,#ex3,#ex2{
    margin-top: 100px;
    width: 350px;
}
.about{
    height: 100%;

    background: radial-gradient(circle, rgba(32,36,45,1) 0%, rgba(5,57,59,1) 100%);
}
.bloc1{
    margin-top: 25px;
    padding: 3px;
    width: 70%;
    margin-left: 15%;
}
.blocs{
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    float: left;
    margin-top: 10px;
    padding: 5px 0;
}
.target,.entreprise,.work{
    width: 50%;
}
.text1,.text2,.text3{
    padding: 5px 1px;
    text-align: center;
    color: #59636d;
    font-size: 2vw;
}
.tache{
    text-align: left;
    padding: 5px 1px;
}
.icon_about{
    width: 40px;

}
.aboutus{
    text-align: center;
    margin-top: 30%;
    font-size: 7.5vw;
    padding: 20px;
    margin-left: 50px;
    color: #FCFCFC;
}
/* --------------------------------- */
/* ------- RESPONSIVE -------*/
/* --------------------------------- */

@media screen and (max-width: 1180px) {
    .icons{
        margin-left: 15.5%;
        margin-right: 0%;
    }
}
@media screen and (max-width: 970px) {
    header{
        background-image: url(../img/fond-menu.jpg);
        background-size: 180%;
        background-position: center;
        height:650px;
        background-repeat: no-repeat;
        background-attachment: fixed, scroll;
    }
    .aboutus{
        margin-top: 90px;
    }
    .topnav a {
        padding: 5px 40px;
        font-size: 2.5vw;
        margin-top: 15px;
    }
    .topnav a.active {
        color: white;
        margin-left: 8%;
    }
    .icons{
        margin-left: 12.5%;
    }
}
@media screen and (max-width: 790px) {
    .icons{
      margin-left: 11.3%;
    }
    .aboutus{
        margin-top: 70px;
    }
    .topnav a.active {
        color: white;
        margin-left: 2%;
    }
}
@media screen and (max-width: 700px) {
    .icons {
        margin-left: 9%;
    }
    header{
        background-image: url(../img/fond-menu.jpg);
        background-size: 200%;
        background-position: center;
        height:650px;
        background-repeat: no-repeat;
        background-attachment: fixed, scroll;
    }
    .aboutus{
        margin-top: 50px;
    }
    .topnav a {
        padding: 5px 35px;
        font-size: 2.5vw;
        margin-top: 15px;
    }
    .topnav a.active {
        color: white;
        margin-left: 0%;
    }
}
@media screen and (max-width: 600px) {
    .aboutus{
        margin-top: 30px;
    }
    .icons {
        margin-left: 6.5%;
    }
}
@media screen and (max-width: 550px) {
    .aboutus {
        margin-top: 10px;
    }
    .icons {
        margin-left: 5.5%;
    }
}
/* --------------------------------- */
/* ------- FIN RESPONSIVE -------*/
/* --------------------------------- */

body{
    color: black;

}
h1 {
    font-size: 2em;
    margin: .67em 0;
    display: block;
    text-transform: uppercase;
    text-align: center;
}
#registered {
    margin-top: 50px;
}

/*début du formulaire d'inscription*/

/*hauteur modal*/
.modal_form{
    position:relative;
    top:10%;
    height:65%;
    width:450px;
    margin-left:auto;
    margin-right:auto;
}
.user {
    color: #66d8fc;
    font-weight: bold;
}
.userlist {
    float:left;
    padding: 30px;
}
.userlist span {
    color: #0590fc;
}
.welcome{
    position:relative;
    top:30%;
    height:65%;
    width:900px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 50px;
}

.body-content{
    position:relative;
    top:20px;
    height:700px;
    width:800px;
    margin-left:auto;
    margin-right:auto;
    background: transparent;
}

select,
input[type="text"],
input[type="password"],
input[type="email"]
{
    width:100%;
    display: inline-block;
    vertical-align: middle;
    height: 34px;
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 20px;
    color: black;
    box-sizing: border-box;
    border-radius: 5px;
}
input:focus {
    outline: none !important;
    border-color: #0F2439;
}

.register_title{
    text-align: center;
    margin-bottom: 20px;
    margin-top: auto;
    font-weight: bold;
    font-size: 22px;
}

.img_register_modal{
    background-image: url(../img/logo.png);
    max-width: 30%;
    float: right;
}
input[type="submit"]{
    cursor:pointer;
    border-radius: 3px ;
}
i.fa-times-circle{
    color: black;
}
p.error{
    color: #f00906;
}
div#register.modal{
    margin-bottom: 10px;
    margin-top: 70px;
    background-color: #A9A9A9;
}
div#connexion.modal_form.modal {
    margin-bottom: 100px;
    height: 73%;
    background-color: #A9A9A9;
}
form#connexion.form.login{
    margin-top: 32px;
}
.connexion {
    height: 470px;
}
#submit {
    background-color: #0f2439;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 20px;
}
#submit:hover {
    transform: scale(1.05);
}
.img_login_modal{
    background-image: url(../img/logo.png);
    max-width: 30%;
    float: right;
    margin-left: -125px;
    margin-top: 30px;
    margin-right: -20px;
}
.forget {
    text-align: right;
    font-size: 0.7em;
}
.bloc_foot{
    width: 25%;
    float: left;
    padding: 5px 3px;
}
.logo3 {
    width: 50%;
    margin-left: 50%;
}
.forget a {
    color: #0F2439;
}
.forgetMDP {
    height: 245px;
}
label {
    display: block;
    text-align: center;
    color: #0F2439;
    font-size: 1.3em;
    margin-bottom: 5px;
}
/*DIV TRANSITION DU FORGET PASSWORD*/
div#sub-modal {
    background-color: #A9A9A9;
}
div#sub-modal.transition {
    background-color: #A9A9A9;
}
.changeMDP {
    width: 325px;
    height: 355px;
    background-color: #A9A9A9;
}
.transition {
    height: 65px;
    background-color: #A9A9A9;

}
/*FORMULAIRE CONTACT*/
textarea:focus {
    outline: none !important;
    border-color: #0F2439;
}
.w50 {
    width: 50%;
}
form.contact div {
    float: left;
}
.w75 {
    width: 100%;
}

.input_formEmail {
    width: 250px;
}
.textarea_formContact {
    padding-top: 10px;
    margin-bottom: 30px;
    resize: none;
}

/*FIN DES FORMULAIRES*/


.infos{
    padding: 6px 0;
    text-align: center;
    font-size: 0.6em;
    margin-top: 5px;
}
.r_sociaux{
    width: 22%;
    float: left;
    margin: 15px 9px 0 0;
}
.footeur{
    height: 22%;
    background-color: #BFB9B9;
    margin-top: 22px;
}
.titre_main_cgu{
    text-align: center;
}
.titre_second_cgu{
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}
.wrap3{
    max-width: 60%;
    width: 100%;
    margin: 0 auto;
}
.list_cgu{
    line-height: 25px;
    writing-mode: horizontal-tb;
}

.interline-height{
    text-align: center;
    line-height: 28px;
    justify-content: normal;
    margin-bottom: 20px;
}
.back_cgu{
    background-color: #aaa8a7;
    display: inline-block;
    opacity: 0.9;
}
.wrap li{
    line-height: 30px;
    list-style-type: disc   ;
}
img.r_sociaux{
    float: left;
    margin-top: 20px;
}
p.textintro{
    margin-bottom: 13px;
}
p.infos{
    font-size: 1.8vw;
}
p.mentions{
    font-size: 1.8vw;
}




